
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.nav-menu {
  width: 100%;
  max-width: 800px;
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: aqua;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-item.active {
  color: #ececec;
}
