.todo {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background: #e0e0e0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo h3 {
  color: #555 !important;
  margin-left: 1rem !important;
  margin-right: auto !important;
  font-size: 1rem !important;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.btn_actions {
  font-size: 1rem;
  background: #333;
}
